.App {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  min-height: 100vh
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}

.btndownContainer {
  position: fixed;
  bottom: 75px;
  right: 60px;
  z-index: 1000;
}

.btndown {
  background-color: #4CAF50; 
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btndown:hover {
  background-color: #45a049;
}

.btndown svg {
  margin-right: 8px; 
}

@media print {
  .no-print {
    display: none !important;
  }
  .skills{
    background-color: #f4f4f4 !important; 
    color: black;
  }
}



